.card img {
    width: 90%;
    height: 60%;
    align-self: center;
}

.card {
    text-align: center;
}

.veja-mais {
    background-color: green !important;
    color: white !important;
}

.veja-mais:hover {
    background-color: rgb(10, 100, 10) !important;
}

.players_pictures {
    border-radius: 20px;
}

.sub-title {
    text-align: center;
}